body {
	font-family: 'Oxygen', sans-serif;
}
#currentDate {
	color: blue;
}

.chatbox {
	height: 70vh;
	max-height: 70vh;
	width: 50vw;
	background-color: rgba(0,0,0,0.15);
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}
#submit-conversation {
	margin-left: auto;
	margin-right: auto;
}
.user-input {
	width: 50vw;
	background-color: rgba(0,0,0,0.15);
	border-radius: 5px;
	border-style: none;
	text-indent: 10px;
	padding: 5px 0 5px 0;
}
.user-input:focus {
	outline: none;
}